.wrap_body{
    grid-template-rows: 120px 70px auto auto auto auto;
}

.header_info, .header_phone{
    width: 100%;
    justify-content: center;
    padding: 0px 0px 5px 0px;
}

.header p{
    margin-right: 0px;
    margin: 0px 8px;
}

.mobile_menu{
    display: block;
    font-size: 30px;
}

.overlay{
    display: block;
}

.menu{
    display: none;
}

.section_bottom_contact {
    flex-direction: column;
}

.section_bottom_contact > div:first-child {
    width: 100%;
    border-bottom: 1px solid #bbbdc3;
}

.section_bottom_contact > div {
    width: 100%;
    border-bottom: 1px solid #bbbdc3;
}

.section_bottom_contact > div:last-child {
    border-bottom: 0px solid #bbbdc3;
    padding-top: 50px;
}

.section_bottom_contact .map_frame {
    min-height: 350px;
}

.emblem_wrap{
    justify-content: space-around;
}

.emblem_wrap a {
    width: 40%;
    margin: 15px;
}

.slideShow_mobile{
    display: block;
}

.slideShow_desctop{
    display: none;
}

.text {
    font-size: 26px;
}

.text p:first-child{
    max-width: 90%;
    font-size: 20px;
}

.menu_wrap {
    transition: 0s;
    padding: 7px 0px;
}

.logo img {
    transition: 0s;
    height: 56px;
    padding: 2px;
    border: 2px solid #303442;
    margin-top: -1px;
}

